In [34]:
import LanusStats as ls
import pandas as pd 

fbref = ls.Fbref()
fotmo = ls.FotMob()
score = ls.ThreeSixFiveScores()

In [30]:
ls.get_available_pages()

dict_keys(['Fbref', 'Sofascore', '365Scores', 'Fotmob', 'Transfermarkt'])

In [40]:
ls.get_available_leagues('Transfermarkt')

['Primera Division Argentina']

In [32]:
ls.get_available_season_for_leagues('Fotmob','Euros')

{'id': 50, 'seasons': {'2024': 18307, '2021': 12715, '2016': 8479}}

In [42]:
fbref.get_player_season_stats('stats','Euros','2024')
#df_player = pd.DataFrame(datos_player)
#df_player.to_excel('player_euro_2024.xlsx')

Starting to scrape player data from Fbref...

,Player,Pos,Squad,Age,Comp,Born,MP,Starts,Min,90s,...,Gls,Ast,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG
0,Che Adams,FW,sct Scotland,27,Euros,1996,3,3,209,2.3,...,0.00,0.00,0.00,0.00,0.00,0.05,0.03,0.09,0.05,0.09
1,Michel Aebischer,DF,ch Switzerland,27,Euros,1997,5,5,476,5.3,...,0.19,0.38,0.57,0.19,0.57,0.02,0.22,0.24,0.02,0.24
2,Arlind Ajeti,DF,al Albania,30,Euros,1993,3,3,270,3.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3,Manuel Akanji,DF,ch Switzerland,28,Euros,1995,5,5,480,5.3,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,Samet Akaydın,DF,tr Türkiye,29,Euros,1994,4,4,335,3.7,...,0.27,0.00,0.27,0.27,0.27,0.09,0.00,0.09,0.09,0.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
488,Andrija Živković,DF,rs Serbia,27,Euros,1996,3,3,244,2.7,...,0.00,0.00,0.00,0.00,0.00,0.00,0.24,0.24,0.00,0.24
489,Budu Zivzivadze,"FW,MF",ge Georgia,29,Euros,1994,2,0,18,0.2,...,0.00,0.00,0.00,0.00,0.00,0.45,0.00,0.45,0.45,0.45
490,Steven Zuber,MF,ch Switzerland,32,Euros,1991,2,0,77,0.9,...,0.00,0.00,0.00,0.00,0.00,0.39,0.04,0.42,0.39,0.42
491,Martín Zubimendi,MF,es Spain,24,Euros,1999,4,1,141,1.6,...,0.00,0.00,0.00,0.00,0.00,0.00,0.01,0.01,0.00,0.01
492,Oleksandr Zubkov,FW,ua Ukraine,27,Euros,1996,1,0,24,0.3,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [39]:
fotmo.get_players_stats_season('Euros','2024',"rating")

Possible values for stat parameter: ['goals', 'goal_assist', '_goals_and_goal_assist', 'rating', 'goals_per_90', 'expected_goals', 'expected_goals_per_90', 'expected_goalsontarget', 'ontarget_scoring_att', 'total_scoring_att', 'accurate_pass', 'big_chance_created', 'total_att_assist', 'accurate_long_balls', 'expected_assists', 'expected_assists_per_90', '_expected_goals_and_expected_assists_per_90', 'won_contest', 'big_chance_missed', 'penalty_won', 'won_tackle', 'interception', 'effective_clearance', 'outfielder_block', 'penalty_conceded', 'poss_won_att_3rd', 'clean_sheet', '_save_percentage', 'saves', '_goals_prevented', 'goals_conceded', 'fouls', 'yellow_card', 'red_card']

,id,teamId,name,substatValue,statValue,rank,type,name,value,format,fractions
0,605654,6720,Fabián Ruiz,"{'value': 2, 'format': 'number', 'fractions': 0}","{'name': 'rating', 'value': 8.04, 'format': 'f...",1,players,rating,8.04,fraction,2
1,614834,6720,Dani Olmo,"{'value': 3, 'format': 'number', 'fractions': 0}","{'name': 'rating', 'value': 7.92, 'format': 'f...",2,players,rating,7.92,fraction,2
2,95078,8570,Toni Kroos,"{'value': 1, 'format': 'number', 'fractions': 0}","{'name': 'rating', 'value': 7.86, 'format': 'f...",3,players,rating,7.86,fraction,2
3,460632,8570,Joshua Kimmich,"{'value': 0, 'format': 'number', 'fractions': 0}","{'name': 'rating', 'value': 7.82, 'format': 'f...",4,players,rating,7.82,fraction,2
4,1061249,8361,Vitinha,"{'value': 1, 'format': 'number', 'fractions': 0}","{'name': 'rating', 'value': 7.76, 'format': 'f...",5,players,rating,7.76,fraction,2
...,...,...,...,...,...,...,...,...,...,...,...
300,700070,8565,Martin Adam,"{'value': 0, 'format': 'number', 'fractions': 0}","{'name': 'rating', 'value': 6, 'format': 'frac...",301,players,rating,6.00,fraction,2
301,599353,8498,Che Adams,"{'value': 0, 'format': 'number', 'fractions': 0}","{'name': 'rating', 'value': 5.95, 'format': 'f...",302,players,rating,5.95,fraction,2
302,737857,8205,Dusan Vlahovic,"{'value': 0, 'format': 'number', 'fractions': 0}","{'name': 'rating', 'value': 5.86, 'format': 'f...",303,players,rating,5.86,fraction,2
303,1225995,8496,Robin Hranac,"{'value': 0, 'format': 'number', 'fractions': 0}","{'name': 'rating', 'value': 5.83, 'format': 'f...",304,players,rating,5.83,fraction,2
304,668422,8498,Anthony Ralston,"{'value': 0, 'format': 'number', 'fractions': 0}","{'name': 'rating', 'value': 5.79, 'format': 'f...",305,players,rating,5.79,fraction,2